.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 522px;
  max-width: calc(100vw - 3rem);
  border: none;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
  outline: none;
}

@media screen and (max-width: 550px) {
  .drawer {
    background-color: transparent;
  }

  .drawer__inner {
    max-width: unset;
    width: 100vw;
  }
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  background-color: var(--cart-drawer-background-color);
  padding: 16px 20px 12px 18px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 20px 0px #0000001A;
}

.drawer__heading {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: var(--cart-drawer-text-color-primary);
  margin:0;
}
.drawer__heading-count{
  margin: 0;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 0;
  width: calc(18px + 14px);
  height: calc(18px + 14px);
  color: var(--cart-drawer-text-color-primary);
  border-radius: 50%;
  background: rgba(21,21,21,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.drawer__close {
  display: inline-block;
  padding: 0;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  color: var(--cart-drawer-text-color-primary);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.cart-drawer__warnings .drawer__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.drawer__close svg {
  height: 16px;
  width: 16px;
}

@media screen and (max-width: 550px) {
  .drawer__close svg {
    height: 14px;
    width: 14px;
  }
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: var(--cart-drawer-background-color);
  border-top: var(--cart-drawer-border-thickness) solid var(--cart-drawer-border-color);
  padding: 17px 25px 25px 25px;
}
@media screen and (max-width: 550px) {
  .drawer__footer {
    padding: 12px;
  }
}
.drawer__footer .totals__subtotal-value {
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  text-align: right;
  color: var(--cart-drawer-text-color-primary);
}
.totals>h2 {
  font-weight: 600;
  color: var(--cart-drawer-text-color-primary);
  font-size: 22px;
  line-height: 22px;
}
cart-drawer.is-empty .drawer__footer {
  display: none;
}



.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}
.drawer__footer .summary__title{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--cart-drawer-text-color-primary);
}
.cart-drawer .cart-item__vendor{
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: var(--cart-drawer-text-color-secondary);
}
.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > .cart-drawer__footer {
  padding-top: 0;
  padding-bottom: 16px;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--cart-drawer-background-color);
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-base-accent-1));
}

.cart-drawer-items-and-upsell {
  overflow: auto;
  flex: 1;
}

@media screen and (max-height: 650px) {
  .cart-drawer-items-and-upsell {
    overflow: visible;
  }

  .drawer__inner {
    overflow: scroll;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 0 12px;
  margin-bottom: 0;
  border-top: var(--cart-drawer-border-thickness) solid var(--cart-drawer-border-color);
  padding: 23px 24px 24px 21px;
}
@media screen and (max-width: 550px) {
  .cart-drawer .cart-item {
    padding: 12px;
  }
}
.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
  width: 100px;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.05);
  margin-bottom: auto;
  border-radius: var(--cart-drawer-image-border-radius);
}
.cart-drawer .cart-item__media {
  display: flex;
}
.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 0;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}
@media screen and (max-width: 550px) {
  .cart-drawer .cart-item__details {
    grid-column: 2 / 5;
  }
  .cart-drawer quantity-input .quantity-number {
    padding: 0 15px;
  }
}

.cart-drawer quantity-input.quantity button {
  width: 24px;
  height: 100%;
  background: var(--cart-drawer-quantity-color-secondary) !important;
  border-radius: var(--cart-drawer-quantity-button-border-radius) !important;
}
.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}
@media screen and (max-width: 550px) {
  .cart-drawer .cart-item__totals {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    justify-content: flex-start;
  }
}
.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: flex-end;
}
@media screen and (max-width: 550px) {
  .cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 4;
}

@media screen and (max-width: 550px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
  .cart-drawer .cart-items .cart-item__quantity {
    padding-bottom: 8px;
    grid-column: 2 / 5;
  }
}


.cart-drawer .totals {
  justify-content: space-between;
  gap: 8px;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-item__details .product-option, .cart-item__details .discounts__discount {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--cart-drawer-text-color-secondary);
}
.cart-item__details .discounts__discount{
  padding-bottom: 4px;
}
.cart-drawer .cart-item__price-wrapper .price.price--end {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: var(--cart-drawer-text-color-primary);
}
.cart-drawer .cart-item__price-wrapper .price.price--compare-at {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--cart-drawer-text-color-secondary);
  text-decoration: line-through;
}
.cart-drawer .cart-item__price-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.cart-drawer .cart-item__price-wrapper .badge.price__badge-sale {
  padding-inline: 5px;
  margin-top: 6px;
}
@media screen and (max-width: 550px) {
  .cart-drawer .cart-item__price-wrapper {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cart-drawer .cart-item__price-wrapper .badge.price__badge-sale {
    margin-top: 0;
  }
}
.cart-drawer .cart__checkout-button {
  max-width: none;
  border-radius: 6px !important;
  background-color: var(--cart-drawer-text-color-primary);
}
.cart-drawer .button-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer
    #dynamic-checkout-cart
    ul
    > li:first-child:nth-last-child(2)
    ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer
    #dynamic-checkout-cart
    ul
    > li:first-child:nth-last-child(4)
    ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

.cart-drawer-items-and-upsell::-webkit-scrollbar {
  width: 3px;
}

.cart-drawer-items-and-upsell::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

.cart-drawer-items-and-upsell::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

/* hide parts */
.cart-drawer thead {
  display: none;
}

.cart__badges {
  margin-top: 1.5rem;
}

.payment-badges {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.cart__badges img {
  max-width: 100%;
  width: 100%;
}
