{{ 'lom-natural.css' | asset_url | stylesheet_tag }}
<div class="lom-announce" id="lom-announce">
  <div class="lom-announce__inner">
    {% if section.settings.link != blank %}
      <a href="{{ section.settings.link }}" class="lom-announce__text">{{ section.settings.text }}</a>
    {% else %}
      <span class="lom-announce__text">{{ section.settings.text }}</span>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Lom Announcement",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "Free US Shipping (5-7 Business Days) | 30-Day Money-Back Guarantee | 10,000+ Sticks Sold"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link (optional)"
    }
  ],
  "presets": [
    {
      "name": "Lom Announcement"
    }
  ]
}
{% endschema %}

