<style>
  div#msg-error {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    z-index: 99999999;
    display: flex;
    align-items: center;
    padding: 30px 20px;
    justify-content: center;
  }
  #msg-error .msg-error-content {
    max-width: 700px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #msg-error h2 {
    color: #1f3879;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 70.19px;
    margin-bottom: 0px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .msg-buttons > a {
    box-shadow: 0px 1px 0px 0px #e3e3e3 inset, 1px 0px 0px 0px #e3e3e3 inset, -1px 0px 0px 0px #e3e3e3 inset,
      0px -1px 0px 0px #b5b5b5 inset;
    background: #ffffff;
    display: block;
    padding: 15px 20px;
    min-width: 200px;
    font-size: 14px;
    font-weight: 550;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-variation-settings: 'slnt' 0;
    color: #303030;
    text-decoration: none;
    border-radius: 7px;
  }
  .msg-buttons > a:last-child {
    background: #303030;
    color: #fff;
    box-shadow: 0px 1px 0px 0px #000000 inset, 0px -1px 0px 1px #000000 inset, -2px 0px 0px 0px #ffffff33 inset,
      2px 0px 0px 0px #ffffff33 inset, 0px 2px 0px 0px #ffffff33 inset;
  }

  .msg-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
</style>

<script>
  // use IIFE for license check to isolate scope and state
  (function () {
    console.log('Checking authentication status...');
    const messageElement = function({ customErrorMessage }) {
      return `<div id="msg-error">
      <div class="msg-error-content">
          <div class="msg-error-image">
              <svg width="432" height="313" viewBox="0 0 432 313" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M216 312.774C98.943 312.774 0.0429688 301.078 0.0429688 287.234C0.0429688 273.39 98.943 261.695 216 261.695C333.057 261.695 431.957 273.395 431.957 287.234C431.957 301.073 333.057 312.774 216 312.774Z" fill="#4486D1"/>
                <path d="M80.019 286.078C75.9998 286.073 72.1465 284.474 69.3046 281.632C66.4627 278.79 64.8642 274.937 64.86 270.918V68.0576C64.8584 64.0323 66.4535 60.1708 69.2953 57.3201C72.1372 54.4695 75.9938 52.8624 80.019 52.8516H344.419C348.444 52.8624 352.301 54.4695 355.143 57.3201C357.984 60.1708 359.58 64.0323 359.578 68.0576V270.918C359.574 274.937 357.975 278.79 355.133 281.632C352.291 284.474 348.438 286.073 344.419 286.078H80.019Z" fill="white" stroke="#35008B" stroke-width="2"/>
                <path d="M344.419 53.4366C348.289 53.4472 351.997 54.9925 354.729 57.7335C357.461 60.4745 358.995 64.1874 358.993 68.0576V270.919C358.989 274.783 357.452 278.487 354.72 281.22C351.988 283.953 348.283 285.49 344.419 285.495H80.0189C76.1547 285.49 72.4503 283.953 69.7181 281.22C66.9859 278.487 65.4491 274.783 65.4449 270.919V68.0576C65.443 64.1874 66.9764 60.4745 69.7086 57.7335C72.4408 54.9925 76.1487 53.4472 80.0189 53.4366H344.419ZM344.419 52.2676H80.0189C75.8376 52.2747 71.8304 53.9421 68.8782 56.9031C65.926 59.8641 64.2706 63.8763 64.2759 68.0576V270.919C64.2742 272.987 64.6802 275.034 65.4708 276.945C66.2613 278.856 67.4208 280.592 68.883 282.055C70.3452 283.517 72.0814 284.677 73.9922 285.467C75.903 286.258 77.951 286.664 80.0189 286.663H344.419C346.487 286.664 348.535 286.258 350.446 285.467C352.356 284.677 354.093 283.517 355.555 282.055C357.017 280.592 358.177 278.856 358.967 276.945C359.758 275.034 360.164 272.987 360.162 270.919V68.0576C360.167 63.8763 358.512 59.8641 355.56 56.9031C352.607 53.9421 348.6 52.2747 344.419 52.2676Z" fill="#F8F4FF" stroke="#1F3879" stroke-width="4"/>
                <path d="M64.86 105.397V68.0576C64.8584 64.0323 66.4535 60.1708 69.2953 57.3201C72.1372 54.4695 75.9938 52.8624 80.019 52.8516H344.419C348.444 52.8622 352.301 54.4691 355.143 57.3198C357.985 60.1705 359.581 64.0322 359.579 68.0576V105.398L64.86 105.397Z" fill="#4486D1" stroke="#1F3879" stroke-width="4"/>
                <path d="M344.419 53.4366C348.289 53.4472 351.997 54.9925 354.729 57.7335C357.461 60.4745 358.995 64.1874 358.993 68.0576V104.813H65.4449V68.0576C65.443 64.1874 66.9764 60.4745 69.7086 57.7335C72.4408 54.9925 76.1487 53.4472 80.0189 53.4366H344.419ZM344.419 52.2676H80.0189C75.8376 52.2747 71.8304 53.9421 68.8782 56.9031C65.926 59.8641 64.2706 63.8763 64.2759 68.0576V105.982H360.162V68.0576C360.167 63.8763 358.512 59.8641 355.56 56.9031C352.607 53.9421 348.6 52.2747 344.419 52.2676Z" fill="black" stroke="#1F3879" stroke-width="2"/>
                <path d="M143.088 87.1191C141.703 87.1191 140.35 86.7086 139.199 85.9394C138.048 85.1703 137.151 84.077 136.621 82.7979C136.091 81.5188 135.952 80.1114 136.222 78.7535C136.492 77.3956 137.159 76.1484 138.138 75.1694C139.117 74.1904 140.364 73.5237 141.722 73.2536C143.08 72.9836 144.488 73.1222 145.767 73.652C147.046 74.1818 148.139 75.079 148.908 76.2302C149.677 77.3813 150.088 78.7347 150.088 80.1191C150.085 81.9749 149.347 83.7538 148.035 85.066C146.723 86.3782 144.944 87.1165 143.088 87.1191Z" fill="#F8F4FF"/>
                <path d="M143.088 73.6944C144.357 73.6944 145.598 74.0707 146.653 74.7758C147.708 75.481 148.531 76.4832 149.016 77.6557C149.502 78.8283 149.629 80.1185 149.382 81.3633C149.134 82.6081 148.523 83.7515 147.625 84.6489C146.728 85.5463 145.585 86.1575 144.34 86.4051C143.095 86.6527 141.805 86.5256 140.632 86.0399C139.46 85.5542 138.458 84.7318 137.752 83.6765C137.047 82.6212 136.671 81.3806 136.671 80.1114C136.673 78.4101 137.35 76.7792 138.553 75.5762C139.756 74.3733 141.387 73.6965 143.088 73.6944ZM143.088 72.5254C141.588 72.5254 140.121 72.9703 138.873 73.8039C137.626 74.6374 136.654 75.8222 136.079 77.2084C135.505 78.5945 135.355 80.1198 135.648 81.5913C135.94 83.0629 136.663 84.4146 137.724 85.4755C138.785 86.5364 140.136 87.2589 141.608 87.5516C143.08 87.8443 144.605 87.6941 145.991 87.1199C147.377 86.5458 148.562 85.5735 149.395 84.326C150.229 83.0784 150.674 81.6118 150.674 80.1114C150.674 78.0995 149.874 76.1702 148.452 74.7476C147.029 73.325 145.1 72.5257 143.088 72.5254Z" fill="black" stroke="#699FDC" stroke-width="2"/>
                <path d="M120.064 87.1191C118.679 87.1191 117.326 86.7086 116.175 85.9394C115.024 85.1703 114.127 84.077 113.597 82.7979C113.067 81.5188 112.928 80.1114 113.198 78.7535C113.469 77.3956 114.135 76.1484 115.114 75.1694C116.093 74.1904 117.34 73.5237 118.698 73.2536C120.056 72.9836 121.464 73.1222 122.743 73.652C124.022 74.1818 125.115 75.079 125.884 76.2302C126.653 77.3813 127.064 78.7347 127.064 80.1191C127.061 81.9749 126.323 83.7538 125.011 85.066C123.699 86.3782 121.92 87.1165 120.064 87.1191Z" fill="#F8F4FF"/>
                <path d="M120.063 73.6944C121.332 73.6944 122.573 74.0707 123.628 74.7758C124.683 75.481 125.506 76.4832 125.992 77.6557C126.477 78.8283 126.604 80.1185 126.357 81.3633C126.109 82.6081 125.498 83.7515 124.601 84.6489C123.703 85.5463 122.56 86.1575 121.315 86.4051C120.07 86.6527 118.78 86.5256 117.607 86.0399C116.435 85.5542 115.433 84.7318 114.728 83.6765C114.022 82.6212 113.646 81.3806 113.646 80.1114C113.648 78.4101 114.325 76.7792 115.528 75.5762C116.731 74.3733 118.362 73.6965 120.063 73.6944ZM120.063 72.5254C118.563 72.5254 117.096 72.9703 115.848 73.8039C114.601 74.6374 113.629 75.8222 113.055 77.2084C112.48 78.5945 112.33 80.1198 112.623 81.5913C112.916 83.0629 113.638 84.4146 114.699 85.4755C115.76 86.5364 117.112 87.2589 118.583 87.5516C120.055 87.8443 121.58 87.6941 122.966 87.1199C124.352 86.5458 125.537 85.5735 126.371 84.326C127.204 83.0784 127.649 81.6118 127.649 80.1114C127.649 78.0995 126.849 76.1702 125.427 74.7476C124.004 73.325 122.075 72.5257 120.063 72.5254Z" fill="black" stroke="#699FDC" stroke-width="2"/>
                <path d="M97.0389 87.1191C95.6545 87.1191 94.3011 86.7086 93.1499 85.9394C91.9988 85.1703 91.1016 84.077 90.5718 82.7979C90.042 81.5188 89.9034 80.1114 90.1734 78.7535C90.4435 77.3956 91.1102 76.1484 92.0892 75.1694C93.0682 74.1904 94.3154 73.5237 95.6733 73.2536C97.0312 72.9836 98.4386 73.1222 99.7177 73.652C100.997 74.1818 102.09 75.079 102.859 76.2302C103.628 77.3813 104.039 78.7347 104.039 80.1191C104.036 81.9749 103.298 83.7538 101.986 85.066C100.674 86.3782 98.8946 87.1165 97.0389 87.1191Z" fill="#F8F4FF"/>
                <path d="M97.0391 73.6944C98.3083 73.6944 99.5489 74.0707 100.604 74.7758C101.659 75.481 102.482 76.4832 102.968 77.6557C103.453 78.8283 103.58 80.1185 103.333 81.3633C103.085 82.6081 102.474 83.7515 101.577 84.6489C100.679 85.5463 99.5358 86.1575 98.291 86.4051C97.0462 86.6527 95.756 86.5256 94.5834 86.0399C93.4109 85.5542 92.4087 84.7318 91.7036 83.6765C90.9985 82.6212 90.6221 81.3806 90.6221 80.1114C90.6242 78.4101 91.301 76.7792 92.504 75.5762C93.7069 74.3733 95.3379 73.6965 97.0391 73.6944ZM97.0391 72.5254C95.5388 72.5254 94.0721 72.9703 92.8246 73.8039C91.5771 74.6374 90.6047 75.8222 90.0306 77.2084C89.4564 78.5945 89.3062 80.1198 89.5989 81.5913C89.8916 83.0629 90.6141 84.4146 91.675 85.4755C92.7359 86.5364 94.0876 87.2589 95.5592 87.5516C97.0307 87.8443 98.556 87.6941 99.9422 87.1199C101.328 86.5458 102.513 85.5735 103.347 84.326C104.18 83.0784 104.625 81.6118 104.625 80.1114C104.625 78.0995 103.826 76.1702 102.403 74.7476C100.98 73.325 99.051 72.5257 97.0391 72.5254Z" fill="black" stroke="#699FDC" stroke-width="2"/>
                <path d="M36.7236 59.6759C38.128 52.0906 41.6869 45.0701 46.9749 39.4536C52.263 33.8371 59.0566 29.8622 66.5436 28.0039" fill="white"/>
                <path d="M36.7236 59.6759C38.128 52.0906 41.6869 45.0701 46.9749 39.4536C52.263 33.8371 59.0566 29.8622 66.5436 28.0039" stroke="#35008B" stroke-width="2"/>
                <path d="M36.7236 59.6759C38.128 52.0906 41.6869 45.0701 46.9749 39.4536C52.263 33.8371 59.0566 29.8622 66.5436 28.0039" stroke="#699FDC" stroke-width="4" stroke-miterlimit="10"/>
                <path d="M10.007 55.2772C12.1859 42.9474 17.7668 31.4717 26.1202 22.1445C34.4735 12.8174 45.267 6.01004 57.283 2.49023" fill="white"/>
                <path d="M10.007 55.2772C12.1859 42.9474 17.7668 31.4717 26.1202 22.1445C34.4735 12.8174 45.267 6.01004 57.283 2.49023" stroke="#35008B" stroke-width="2"/>
                <path d="M10.007 55.2772C12.1859 42.9474 17.7668 31.4717 26.1202 22.1445C34.4735 12.8174 45.267 6.01004 57.283 2.49023" stroke="#699FDC" stroke-width="4" stroke-miterlimit="10"/>
                <path d="M265.43 159.854C266.902 159.854 268.341 160.291 269.565 161.108C270.789 161.926 271.743 163.089 272.306 164.449C272.87 165.809 273.017 167.305 272.73 168.749C272.443 170.193 271.734 171.519 270.693 172.56C269.652 173.601 268.326 174.31 266.882 174.597C265.438 174.884 263.942 174.737 262.582 174.173C261.222 173.61 260.059 172.656 259.241 171.432C258.423 170.208 257.987 168.769 257.987 167.297C257.989 165.324 258.774 163.432 260.17 162.037C261.565 160.641 263.457 159.856 265.43 159.854ZM265.43 158.498C263.689 158.498 261.988 159.014 260.541 159.981C259.094 160.948 257.966 162.322 257.3 163.93C256.634 165.538 256.459 167.308 256.799 169.015C257.139 170.722 257.977 172.29 259.207 173.521C260.438 174.751 262.006 175.589 263.713 175.929C265.42 176.269 267.19 176.094 268.797 175.428C270.405 174.762 271.78 173.634 272.747 172.187C273.714 170.74 274.23 169.039 274.23 167.298C274.23 166.142 274.002 164.998 273.56 163.93C273.118 162.863 272.47 161.893 271.652 161.076C270.835 160.258 269.865 159.61 268.797 159.168C267.73 158.726 266.586 158.498 265.43 158.498Z" stroke="#1F3879" stroke-width="3"/>
                <path d="M158.889 159.854C160.361 159.854 161.8 160.291 163.024 161.108C164.248 161.926 165.202 163.089 165.765 164.449C166.329 165.809 166.476 167.305 166.189 168.749C165.902 170.193 165.193 171.519 164.152 172.56C163.111 173.601 161.785 174.31 160.341 174.597C158.897 174.884 157.401 174.737 156.041 174.173C154.681 173.61 153.518 172.656 152.7 171.432C151.882 170.208 151.446 168.769 151.446 167.297C151.448 165.324 152.233 163.432 153.629 162.037C155.024 160.641 156.916 159.856 158.889 159.854ZM158.889 158.498C157.148 158.498 155.447 159.014 154 159.981C152.553 160.948 151.425 162.322 150.759 163.93C150.093 165.538 149.918 167.308 150.258 169.015C150.598 170.722 151.436 172.29 152.666 173.521C153.897 174.751 155.465 175.589 157.172 175.929C158.879 176.269 160.649 176.094 162.256 175.428C163.864 174.762 165.239 173.634 166.206 172.187C167.173 170.74 167.689 169.039 167.689 167.298C167.689 166.142 167.461 164.998 167.019 163.93C166.577 162.863 165.929 161.893 165.111 161.076C164.294 160.258 163.324 159.61 162.256 159.168C161.189 158.726 160.045 158.498 158.889 158.498Z" stroke="#1F3879" stroke-width="3"/>
                <path d="M237.201 226.462C234.743 221.765 231.047 217.831 226.512 215.085C221.977 212.34 216.777 210.889 211.476 210.889C206.175 210.889 200.976 212.34 196.441 215.085C191.906 217.831 188.21 221.765 185.752 226.462" fill="white"/>
                <path d="M237.201 226.462C234.743 221.765 231.047 217.831 226.512 215.085C221.977 212.34 216.777 210.889 211.476 210.889C206.175 210.889 200.976 212.34 196.441 215.085C191.906 217.831 188.21 221.765 185.752 226.462" stroke="#1F3879" stroke-width="4"/>
              </svg>

              </div>
              <div class="msg-error-text">
               ${customErrorMessage}
                  <div class="msg-buttons">
                      <a target="_blank" href="javascript: void(0)" id="msg-btn-billing">Open Billing</a>
                      <a target="_blank" href="javascript: void(0)" id="msg-btn-atlas">Go to Atlas</a>
                  </div>
              </div>
          </div>
      </div>`;
    }

      const endpointUrl = `https://app.helloatlas.io/api/theme/license/verify` // for staging 
      {% comment %} const endpointUrl = `https://app.helloatlas.io/api/theme/license/verify` // for prod  {% endcomment %}
    {% comment %} const endpointUrl = `https://intention-mike-broken-grave.trycloudflare.com/api/theme/license/verify` {% endcomment %}

    function showError({ customErrorMessage }) {
      const errorContainer = document.createElement('div');
      errorContainer.innerHTML = messageElement({ customErrorMessage });
      document.body.appendChild(errorContainer);
      errorContainer.setAttribute('style', 'display:block !important');
      errorContainer.scrollIntoView();

      document.getElementById("msg-error").setAttribute("style", "display: flex !important");
      const billingBtn = document.getElementById('msg-btn-billing');
      const atlasBtn = document.getElementById('msg-btn-atlas');
      billingBtn.href = `https://admin.shopify.com/store/${Shopify.shop.replace(".myshopify.com", "")}/apps/dropshipt-4/settings`;
      atlasBtn.href = `https://admin.shopify.com/store/${Shopify.shop.replace(".myshopify.com", "")}/apps/dropshipt-4`;
    }

    function checkLicense() {
      const inThemeEditor = Shopify?.designMode;
      const inPreviewMode = Shopify?.PreviewBarInjector;
      const inAdminMode = Shopify?.AdminBarInjector;
      const previewBarPresent = !!document.getElementById('PBarNextFrameWrapper'); // doesn't appear in development stores
      
      if (inThemeEditor || inPreviewMode || inAdminMode || previewBarPresent) {
        // DO license check
      } else {
        return; // DON'T do license check
      }
      
      const defaultErrorMessage = `
        <h2>Your Theme License Expired</h2>
        <p>
            Your Atlas theme license is no longer active due to inactive subscription or failed billing. Please visit the
            Atlas to reactivate your theme license.
        </p>` 

      const shopDomain = Shopify?.shop;

      if (!shopDomain) {
        showError({ customErrorMessage: defaultErrorMessage });
        return;
      }

      fetch(endpointUrl, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          shop: shopDomain,
          theme_id: Shopify?.theme?.id,
        }),
      })
        .then(function (res) {
          return res.json();
        })
        .then(function (data) {
          if (!data.verified) {
            showError({ customErrorMessage: defaultErrorMessage });
          }
        })
        .catch(function () {
          // different error message than liquid error so we can better identify it when user reports an issue
          showError({ customErrorMessage: 'Error when verifying Theme License. <br/> Please notify support' });
        });
    }

    // Check when DOM is ready and handle case where script is loaded after DOM is ready
    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', function() {
        setTimeout(checkLicense, 2000); // 2 second delay
      });
    } else {
      setTimeout(checkLicense, 2000); // 2 second delay
    }
  })();
</script>
