{% assign product = closest.product %}
{% style %}
  .buy-buttons-container .product-form-button {
    display: flex !important;
    align-items: center !important;
    min-height: 46px !important;
    height: 46px;
    padding: 0 !important;
    text-align: center;
    border-radius: {{ block.settings.border_radius }}px !important;
  }
  .buy-buttons-container .split-slide-button .button-text {
    font-size: {{ block.settings.button_font_size | default: 14 }}px !important;
  }
{% endstyle %}
<div style="height: {{ block.settings.button_height | default: 46 }}px;flex:1;" {{ block.shopify_attributes }}>
    {%- render 'buy-buttons',
      block: block,
      product: product,
      product_form_id: product_form_id,
      section_id: section.id,
      show_pickup_availability: false
    -%}
</div>
{% schema %}
{
  "name": "t:blocks._add_to_cart_button.name",
  "tag": null,
  "blocks": [],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "add_to_cart_text",
      "label": "t:blocks._add_to_cart_button.settings.add_to_cart_text.label",
      "default": "Add to cart"
    },
    {
        "type": "header",
        "content": "t:blocks._add_to_cart_button.settings.typography_header.content"
    },
    {
        "type": "range",
        "id": "button_font_size",
        "min": 10,
        "max": 18,
        "step": 1,
        "unit": "px",
        "label": "t:blocks._add_to_cart_button.settings.button_font_size.label",
        "default": 14
      },
      {
        "type": "checkbox",
        "id": "uppercase_text",
        "label": "t:blocks._add_to_cart_button.settings.uppercase_text.label",
        "default": false
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "t:blocks._add_to_cart_button.settings.text_color.label",
        "default": "#FFFFFF"
      },
    {
        "type": "header",
        "content": "t:blocks._add_to_cart_button.settings.appearance_header.content"
      },
     
      {
        "type": "color",
        "id": "bg_color",
        "default": "#000000",
        "label": "t:blocks._add_to_cart_button.settings.bg_color.label"
      },

      {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "t:blocks._add_to_cart_button.settings.border_radius.label",
        "default": 6
      }
  ],
  "presets": [
    {
      "name": "t:blocks._add_to_cart_button.presets.name"
    }
  ]
}
{% endschema %}