<div {{ block.shopify_attributes }}>
{% content_for 'blocks' %}
</div>
{% schema %}
{
  "name": "t:blocks.group.name",
  "tag": null,
  "settings": [], 
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.group.presets.name",
      "category": "Product Information"
    }
  ] 
}
{% endschema %} 